.dash {
  background-color: white;

  &__title {
    padding: 1rem;
    text-align: left;
    height: 48px;
  }
}
.header-dash {
  display: flex;
  gap: 1.225rem;
  align-items: center;
  justify-content: center;
  padding: 10px 1.125rem 1.125rem 1.125rem;
  box-shadow: 1px 2px rgba($color: #000000, $alpha: 0.05);
  background-color: white;
  &__search {
    height: 2.25rem;
    width: 259px;
    border-radius: 4px;
    background-color: rgb(241, 242, 243);
    outline: none;
    border: none;
    background-image: url(../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px;
    text-indent: 35px;
    font-size: 15px;
  }
  &__user {
    background-color: rgb(255, 201, 107);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card {
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
//   border: 2px lightgray solid;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
  background-color: white;


  &__button {
    height: 36px;
    width: 114px;
  }
}
.module {
  text-align: left;
  background-color: rgb(255, 244, 244);
  padding-bottom: 10rem;

  &__title {
    margin: 0;
    padding: 0 1rem;
    background-color: white;
    height: 3rem;
    border-bottom: 2px lightgray solid;
    display: flex;
    align-items: center;
  }
  &__card {
    display: flex;
    gap: 2.875rem;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
    background-color: white;
    border-bottom: 1px lightgray solid;
    margin-bottom: 0;
  }
  &__img {
    background-color: rgb(255, 244, 244);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(32, 34, 35);
  }
}
.container {
    // margin-bottom: 1rem;
    background-color: white;
}
.space {
    height: 1rem;
    background-color: rgb(255, 244, 244);
    box-shadow: inset 0 0 2px rgba($color: #000000, $alpha: 0.2);
}